In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("StudentsPerformance.csv")
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [26]:
df1 = df[(df.lunch == "free/reduced")]
proprtion = len(df1) / len(df)
proprtion

0.355

In [38]:
students_with_standard_lunch = df[df.lunch == "standard"]
mean_standard = students_with_standard_lunch[["math score", "reading score", "writing score"]].mean()
print(mean_standard, "\n")
var_standard = students_with_standard_lunch[["math score", "reading score", "writing score"]].var()
print(var_standard)

math score       70.034109
reading score    71.654264
writing score    70.823256
dtype: float64

math score       186.418089
reading score    191.285560
writing score    205.620887
dtype: float64

In [39]:
students_without_lunch = df[df.lunch == "free/reduced"]
mean_without = students_without_lunch[["math score", "reading score", "writing score"]].mean()
print(mean_without, "\n")
var_without = students_without_lunch[["math score", "reading score", "writing score"]].var()
print(var_without)

math score       58.921127
reading score    64.653521
writing score    63.022535
dtype: float64

math score       229.824270
reading score    221.871139
writing score    238.202881
dtype: float64